<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="lista-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `lista-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ListaElement extends Polymer.Element {
      static get is() { return 'lista-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'lista-element'
          }
        };
      }
    }

    window.customElements.define(ListaElement.is, ListaElement);
  </script>
</dom-module>
