<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="lista-element">
    <template>
    <style>
      :host {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        
      }
      table, 
      thead, 
      tbody,
      tr,
      td{
        border: 1px solid black;
        text-align: center;
      }
      tr, td{
        width: 30%;
        height: 20px;;
      }
      .red{
        background-color: red;
      }
      .green{
        font-size: 20px;
        background-color: green;
        color: white;
      }
      .yellow{
        background-color: yellow;
      }
    </style>
    <h2>[[prop1]]</h2>


    <table>
      <thead>
        <tr>
          <td>Student Name </td>
          <td>Student Lastname </td>
          <td>Score</td>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="[[table]]" as="listItem">
          <tr class$="{{_color(listItem.score)}}">
            <td>[[listItem.name]]</td>
            <td>[[listItem.lastname]]</td>
            <td>[[listItem.score]]</td>
          </tr>

        </template>
    </tbody>
    </table>
    </template>

    <script>
        /**
         * `lista-element`
         * 
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ListaElement extends Polymer.Element {
            static get is() {
                return 'lista-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Student List'
                    },
                    table: {
                        type: Array,
                        value: () => [{
                            name: 'Juan',
                            lastname: 'Escutia',
                            score: '8',
                        }, {
                            name: 'Francisco',
                            lastname: 'Escutia',
                            score: '5'
                        }, {
                            name: 'Pedro',
                            lastname: 'Escutia',
                            score: '9'
                        }, {
                            name: 'Jhonatan',
                            lastname: 'Escutia',
                            score: '5'
                        }, {
                            name: 'Gilberto',
                            lastname: 'Escutia',
                            score: '2'
                        }, {
                            name: 'Ramon',
                            lastname: 'Escutia',
                            score: '10'
                        }]
                    },
                    redColor: {
                        type: String,
                        value: "red"
                    },
                    greenColor: {
                        type: String,
                        value: 'green'
                    },
                    yellowColor: {
                        type: String,
                        value: 'yellow'
                    }
                };
            }
            _color(listItem) {
                if (listItem <= 5) {
                    return this.redColor
                } else if (listItem >= 9 && listItem <= 10) {
                    return this.greenColor
                } else if (listItem >= 6 && listItem <= 8) {
                    return this.yellowColor
                }
            }

        }

        window.customElements.define(ListaElement.is, ListaElement);
    </script>
</dom-module>